@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

$font-primary:Montserrat;
$color-primary: #009688;
$color-dark:#263238;
$color-light:#cfd8dc;
$color-black:black;
$color-white:white;

$color-green:#64DD17;
$color-red:#EF5350;

body {
    font-family: $font-primary;
    color: $color-white;
    font-size: 16px;
    background: $color-black;
    background-size: cover;
}

.btn-bingo-go {
    color: $color-black;
    background-color: $color-green;
    border-color: $color-green;
}

.active-span {
    color: $color-red;
    text-shadow: 0px 0px 5px $color-red;
}

#winModal {
    color: black;
    .modal-dialog {
        top: 40%;
        transform: translateY(-50%);
    }
}

input {
    //    display: block;
    margin: auto;
    outline: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 10px;
    width: 120px;
    padding-left: 15px;
    border: 0;
    border-bottom: 2px solid white;
    background: transparent;
}

.bingo-head {
    border-bottom: 1px solid #222;
    background: #161616;
}

.bingoArea {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: auto;
    .bingoTiles {
        flex: 1;
        display: flex;
        min-width: 50px;
        background: $color-light;
        margin: 2px;
        p {
            margin: auto;
            color: $color-dark;
            font-weight: bold;
        }
    }
    .comp-set {
        background: $color-primary;
        p {
            color: $color-light;
        }
    }
}
