@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Regular.ttf);
}

$font-primary:Montserrat;
$color-primary: #009688;
$color-dark:#263238;
$color-light:#cfd8dc;
$color-black:black;
$color-white:white;

body {
    font-family: $font-primary;
    color: $color-white;
    font-size: 16px;
    background: $color-black;
    background-size: cover;
}

.bingoArea {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: auto;
    .bingoTiles {
        flex: 1;
        min-width: 50px;
        background: #cfd8dc;
        margin: 2px;
    }
}
